/*========= ВНЕШНИЕ ФАЙЛЫ =============*/
@import "fonts.css";

/*========= КОНЕЦ ВНЕШНИХ ФАЙЛОВ =============*/
*{
    margin: 0;
    padding: 0;
}

.clearfix{
    clear: both;
}

.outline1{
    outline: 1px solid black;
}

.outline2{
    outline: 1px solid red;
}
.container{
   max-width: 1170px;
    margin: 0 auto;
}
/*========= КОНЕЦ ГЛОБАЛЬНЫЕ НАСТРОЙКИ======================*/


/*========= GEOAPP============================*/
.geoApp{
    background-image: url("../images/work-and-travel-hotel-room-office-picjumbo-com.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    
}
.geoAppShadow{
    background-color: rgba(0,0,0,0.3);
   
}

.hederMenu{
    text-align: center;
    margin: 100px auto;
}
.logo{
    float: left;
}
.logo p{    
    font-size: 25px;
    color: #9f9f9f;
}


.hederMenuRight{
    float: right;
}

.menuLi{
    display: inline-block;
    list-style: none;
    
}

.menuLi a{
    text-decoration: none;
    font-size: 35px;
    color: white;
    padding: 5px 15px;
    
}

.menuLi:hover{
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.geoAppShadow .container{
    position: relative;
    color: white;
}

.geoAppShadow .container h1{
    font-size: 60px;
     
}

.buttoN{
    border-radius: 8px;
    font-size: 25px;
    color: white;
    background-color: indianred;
}
.buttoN:hover{
    cursor: pointer;
}
    
.geoAppPhon1{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;    
}
.geoAppPhon1 img, .geoAppPhon2 img{
    width: 60%;
}
.geoAppPhon2{
    position: absolute;
    right: 150px;
}


/*========= GEOAPP КОНЕЦ ======================*/


/*========= AWESOME FEATURES============================*/

.awesomeFeatures{
    padding: 120px 0;
    text-align: center;
    font-size: 0;
}

.awesomeText{
    font-size: 60px;
    
}
.awesomeBlook{
}

.awesomeBlookSmall{
    outline: 1px solid aquamarine;
    display: inline-block;
    width: 50%;
    padding-left: 100px;
    box-sizing: border-box;
    position: relative;
    text-align: left;
}

.awesomeBlookSmall h3{
    font-size: 25px;
}
.awesomeBlookSmall p{
    font-size: 16px;
}

.iconAwesome{
    background-color: #9f9f9f;
    position: absolute;
    margin-left: 5px;
    top: 0;
    left: 0;
    border-radius: 7px;
    background-color: brown;
    padding: 5px;
}
/*========= AWESOME FEATURES КОНЕЦ =====================*/

/*========= HOW IT WORKS============================*/
.hotItWorks{
    background-image: url("../images/pexels-photo-30732.png");
    padding: 120px 0;
    color: white;    
    text-align: center;
}
.hotItWorks .container h2{
    font-size: 60px;
}
.hotItWorks .container p{
    font-size: 20px;
    margin-bottom: 50px;
}

.hotItWorksBlook{
    outline: 1px solid #2c1d2e;
    display: inline-block;
    padding-left: 80px;
    position: relative;
    text-align: left;
    vertical-align: top;
}
.hotItWorksIcon{
    position: absolute;
    top: 0;
    left: 0;
}
/*========= HOW IT WORKS КОНЕЦ ======================*/

/*========= FULL SUPPORT ============================*/
.fullSupport{
    background-color: #eeeeee;
    padding: 100px 0;
    text-align: center;
}

.fullSupport .container{
    position: relative;
}
.fullSupportBlooksLeft{
    
}
.fullSupportBlooksRight{
    
}
.KKK{
    outline: 1px solid aquamarine;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    
}
.fullSupportMobl{
    display: inline-block;
}
.fullSupportMobl img{
    width: 60%; 
}


/*========= FULL SUPPORT КОНЕЦ ======================*/

/*========= WORKING HOURS ============================*/
.workingHours{
    background-image: url("../images/pexels-photo-30732_.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 0;
    padding: 0 50px;
    text-align: center;
}

.workingHoursMovingBlocks{
    outline: 2px solid azure;
    display: inline-block;
    width: 25%;
    font-size: 25px;
    padding: 0 50px;
    box-sizing: border-box;
}
.workingHoursMovingBlocks img{
    background-color: white;
}
.workingHoursNumber{
    font-size: 35px;
}

.workingHoursText{
    font-size: 15px;
    text-transform: uppercase;
}
/*========= WORKING HOURS КОНЕЦ ======================*/


/*========= HOW IT WORKS ============================*/
.frequently{
    background-color: #eeeeee;
    text-align: center;
    font-size: 0;
    padding: 70px
}

.frequently h2{
    font-size: 55px;
    text-transform: capitalize;
}

.frequently p{
    font-size: 15px;
    margin-bottom: 50px;
}

.frequentlyBlooks{
    
    vertical-align: top;
    outline: 1px solid black;
    display: inline-block;
    font-size: 25px;
    width: 50%;
    overflow: hidden;
    text-align: left;
}
.frequentlyBlooks h3{
    text-transform: capitalize;
}
/*========= HOW IT WORKS КОНЕЦ ======================*/

/*========= SUBSCRIBE TO OUR NEWSLETTER ============================*/
.subscribe{
    background-image: url("../images/Rectangle 5.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
    text-align: center;
    color: white;
}
.subscribe h2{
    font-size: 65px;
}

.subscribe input{
    width: 300px;
    padding: 7px 10px;
    border-radius: 7px;
    border: 0;
}

.subscribe .button{
    background-color: #ba61a4;
    padding: 5px 15px;
    color: white;
    text-transform: uppercase;
    border: 0;
    border-radius: 7px;
    
}
/*========= SUBSCRIBE TO OUR NEWSLETTER КОНЕЦ ======================*/


/*========= MEET OUR TEAM ============================*/
.meetOurTeam{
    text-align: center;
    padding: 70px 0;        
}

.meetOurTeam h2{
    font-size: 45px;
}
.meetOurTeam p{
    font-size: 15px;
}

.one, .two, .thre{
    outline: 1px solid #ba61a4;
}
.meetOurTeamBook{
    font-size: 0;
}

.imgShadow{
   display: inline-block;    
   box-shadow: 5px 5px 5px #2c1d2e, -30px 30px 0px #ba61a4;
   width: 270px;
   height: 345px;   
   cursor: pointer;
}

.imgShadow:nth-child(even){
    margin: 0 50px;   
}
.meetOurTeamBookImg1_1{
    background-image: url("../images/Rectangle 8 copy 4.png");
    background-repeat: no-repeat; 
}
.meetOurTeamBookImgShadow{
    opacity: 0;
    box-sizing: border-box;
    margin: auto;
    width: 270px;
    height: 345px;      
}

.meetOurTeamBookText{
    text-transform: capitalize;
    color: white;
    font-size: 55px;
    color: white;
}
.meetOurTeamBookImgShadow span{
    text-transform: capitalize;
    font-size: 20px;
}
.meetOurTeamBookImgShadow:hover{
    opacity: 1;
    background-color: rgba( 186, 97, 164, 0.4);
    width: 250px;
    height: 335px; 
}
.meetOurTeamBookImg1_2{
    background-image: url("../images/Rectangle 8 copy 4.png");
    background-repeat: no-repeat;
    
}
.meetOurTeamBookImg1_3{
    background-image: url("../images/Rectangle 8 copy 4.png");
    background-repeat: no-repeat;   
}


/*========= MEET OUR TEAM КОНЕЦ ======================*/

/*========= PRICING OPTIONS ============================*/
.pricingOptions{
    background-image: url("../images/3TJ6NCTIRT.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}
.pricingOptions h2{
    font-size: 45px;    
}
.pricingOptions p{
    font-size: 15px;
}
/*========= PRICING OPTIONS КОНЕЦ ======================*/


/*========= SECTION OFFER ============================*/

.offer{
    padding-bottom: 115px;
}

.offer .container{
    font-size: 0px;
    text-align: center;
    position: relative;
    top: -65px;
}

.offerSection{
    display: inline-block;
    vertical-align: top;
    background-color: #fdfdfc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 3px solid #ba61a4;
    box-sizing: border-box;
}

.offerSection{
    font-size: 25px;
    width: 350px;
    padding: 50px;
}

.offerSection:nth-child(even){
    margin: 0px 30px;
}

.offerItem{
    text-transform: uppercase;
    font-size: 30px;
}

.dollar{
    font-size: 70px;
}
.dollar span{
    font-size: 20px;
}
.offerList{
    outline: 1px solid black;
    list-style-type: none;
    text-align: left;
}

.offerList li{
}

.offerList li span{
    display: inline-block;
    margin-right: 20px;
}
.fa-check-square{
    color: #a25f89;
}
.btm{
    width: 180px;
    height: 50px;
    background-color: #a25f89;
    border-radius: 8px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 50px;
    color: white;
    cursor: pointer;
    margin-top: 50px;

}

.offerSection:hover{
    background-color: #ba61a4;
    color: white;
}

/*========= SECTION OFFER КОНЕЦ ======================*/

/*========= FOTO TEXT ============================*/
.fotoText{
    background-color: #eeeeee;
    font-size: 0;
}
.fotoText .container{
    margin: auto;
       
}
.fotoTextImg{
    position: relative;
    top: -65px;
    left: 0;
    display: inline-block;
    margin-left: 100px;
}
.fotoTextText{
    
    float: right;
    margin: auto;
    text-align: right;
}
.fotoText p{
    font-size: 15px;
    padding: 5px;
}
.fotoText span{
    font-size: 20px;
    text-transform: capitalize;
}

.select{
    font-size: 0;
    text-align: center; 

}
.fotoTextLeft{
    display: inline-block;
    margin: 0 10px;
}
.fotoTextLeft:hover{
    cursor: pointer;
}
.fotoTextRight{
    display: inline-block;
}
.fotoTextRight:hover{
    cursor: pointer;
}

/*========= FOTO TEXT КОНЕЦ ======================*/



/*========= GET THE APP TODAY ============================*/

.getTheApp{
    background-image: url("../images/people-eiffel-tower-lights-night.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    color: white;        
}

.getTheApp .container{
    padding: 100px 0;
}
.getTheApp .container h2{
    font-size: 45px;
}
.getTheApp .container p{
    font-size: 15px;    
}

.app{       
    font-size: 0;
    vertical-align: top;    
}
.appStore{
    display: inline-block;
    background-image: url("../images/AppStore.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 213px;
    height: 75px;
    margin-right: 50px;
    cursor: pointer;
    border-radius: 10px;
    vertical-align: top;   
}
.googlPlay{
    vertical-align: top;
    display: inline-block;
    background-image: url("../images/GooglePlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 232px;
    height: 75px;
    cursor: pointer;    
    border: 1px solid white;
    border-radius: 10px;
}


/*========= GET THE APP TODAY КОНЕЦ ======================*/


    
/*========= SOME OF OUR APP ============================*/
.someOfOur{
    
}

.someOfOur .container{
    font-size: 0;
}

.someOfOur .container h2{
    font-size: 35px;
}
.someOfOur .container p{
    font-size: 15px;
}

.someOfOurWhirligig_List{    
    outline: 1px solid black;
    list-style-type: none;    
}

.someOfOurWhirligig_Li{
    outline: 1px solid red;
    display: inline-block;    
    vertical-align: top;
    
    width: 20%;
}

.someOfOurWhirligig_Li img{
    width: 100%;
}


/*========= SOME OF OUR APP КОНЕЦ ======================*/


/*========= CONTACT US ============================*/
.contactUs p{
    padding: 85px 0 125px 0;
    font-size: 60px;
    text-align: center;
}
/*========= CONTACT US КОНЕЦ ======================*/



/*========= MAPS ============================*/
.maps{
    background-color: #f2f2f2;
    position: relative;
}

.mapFarma{
    outline: 1px solid red;
    width: 670px;
}

.mapFarma input, textarea{
    width: 600px;
}

.mapFarma label{
    margin-bottom: 20px;
}

.maps iframe{
    position: absolute;
    top: -30px;
    right: 0;
    box-shadow: 5px 5px 0px #ba61a4;
    padding-bottom: 10px;
}
/*========= MAPS КОНЕЦ ======================*/



/*========= FOOTER ============================*/

.footer{
    height: 100px;
    background-color: #2c1d2e;
    color: white;
}

.logo{

}
.footerSelec{
    display: inline-block;
}

.footer p{
    display: inline-block;
}


/*========= FOOTER КОНЕЦ ======================*/




/*========= GEOAPP ============================*/
/*========= GEOAPP КОНЕЦ ======================*/
